.row{
    width: 100%;
    height: 200%; 
    background-color:black ;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    color: white;
    

    
}
.col{
    width: 100px;
     
    background-color:black;
}
.col img{
    width: 200px;
    height: 200px;
}
button{
    width: 100px;
    height: 60px;
    background-color: red;
    color: cornsilk;
    border-radius: 30%;
}
.btnclass{
    display: class;
    justify-content: space-around;
}
header{
    display: flex;
    width: 100%;
    background-color: rgb(6, 6, 26);
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
    padding: 100px
}