/*selectors
class
tag
id */
h1{
    color:rgb(104, 81, 231);
    text-align: center;
}

#second{
    color: rgb(231, 78, 40);
    text-align: center;
}

.cls{
    color: rgb(29, 235, 63);
    text-align: center;
}
/* #used to select id */
/* .used to select class */